{% block content %}
<div class="card card-body">
    <table>
        <a href="{% url 'scrap'%}" class="rainbow-button" alt="Button">Scrap New Data</a>
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'createOrder'%}">Create Data</a>
        <tr>
            <th>Atualizado</th>
            <th>IP</th>
            <th>Porto</th>
            <th>Pais</th>
            <th>Velocidade</th>
            <th>Conectados</th>
            <th>Protocolo</th>
            <th>Anonimato</th>
            <th>Actions</th>
        </tr>
        {% for item in info%}
            <tr>
                <td>{{item.Atualizado}}</td>
                <td>{{item.IP}}</td>
                <td>{{item.Porto}}</td>
                <td>{{item.Pais}}</td>
                <td>{{item.Velocidade}}</td>
                <td>{{item.Conectados}}</td>
                <td>{{item.Protocolo}}</td>
                <td>{{item.Anonimato}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'updateOrder' item.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'deleteOrder' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
